[build]
  base = "client"
  publish = "build"
  command = "npm install && npm run build"

[build.environment]
  NODE_VERSION = "18"
  CI = "true"

[context.production.environment]
  NODE_ENV = "production"
  CI = "true"
